//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Ubuntu:300,400';

$fontFamily: 'Montserrat', sans-serif;

$baseFontSize: 16px;


// Paths

$i: "../i/";
$fontPath: "../fonts/";


 // Colors
$black: #000000;
$white: #ffffff;
$navDark: #353c3e;
$navLight: #40494c;
$navSlogan: #959595;
$navItem: #646e71;
$navInput: #3c4345;
$iconRed: #f26c4f;
$gray: #959595;
$creme: #f6f6f6;
$brown: #464646;
$red: #f26c4f;
$contentHeader: #777777;
$contentSecondaryHeader: #cccccc;
$fontDark: #353c3e;
$fontLight: #8f8f8f;
$redBorder: #e05d41;
$brickHeader: #f26c4f;
$brickSubtitle: #555555;
$footerTitle: #777777;
$footerText: #bebebe;

//Misc
$headerHeight: 2.5rem;
$headerNavHeight: 1.8rem;
